/** IMPORTS **/
@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
@include foundation-flex-grid; //Remove this if you want the regular float grid
@import "./variables.scss";

/** GLOBALS **/
body{
  color: $black;
}

/** Customer Home **/
#customer-home {
	border: 1px solid rgb(169, 169, 169);
}
.customer-item {
	padding-top: 15px;
	padding-bottom: 20px;
	color: gray;
}
#sort-bar {
	width: 100%;
}

.orbit-container {
	height: 200px;
}

#order_list {
	margin: 0;
}

.order_head {
	font-weight: bold;
}

.order_button {
	position: fixed;
	margin: 0;
	bottom: 0;
	right: 0;
}

#submit_button {
	margin-top: 10px;
}

.orderlist {
	border: 1px solid rgb(169, 169, 169);
	margin-top: 10px;
}