/** IMPORTS **/
@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
@include foundation-flex-grid; // Remove this if you want the regular float grid
@import "./variables.scss";

/** GLOBALS **/
body{
  color: $black;
}

.amount {
	text-align: right;
}

.bussiness-home {
	margin-top: 20px;
}

.order-info {
	border: 1px solid $grey2;
}

.receive-reject {
	margin-right: 10px;
}